# --- JAVA & COMPILATION ---
*.class
/bin/
/target/
*.jar
*.war
*.zip

# --- IDEs (Eclipse, IntelliJ, VS Code) ---
.classpath
.project
.settings/
.metadata/
.idea/
*.iml
*.iws
.vscode/

# --- MAVEN (IMPORTANTE: NO ignorar pom.xml) ---
!.mvn/wrapper/maven-wrapper.jar

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- CONFIGURACIÓN LOCAL ---
# Solo ignora esto si contiene contraseñas reales
# **/application.properties